{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block content %}

<div class="row mt-4" style="margin-left:25%;margin-right:25%;background-color:white;border-radius:10px;box-shadow: 0px 0px 10px 0px #000;">
    <div class='col-sm-12 '>
        <hr>
        <h1 class="text-center">Add Post</h1>
        
        <hr />

        <form method='POST' action='' enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form.media }}
            <!--This ckeditor extra editor-->
            <!--For working this u should also give ckeditor link in base.py-->

            {{ form|crispy }}
            <input type='submit' class='btn btn-block btn-info' value='Create Post' />
        </form>
    </div>


<!-- <div class='col-sm-4'>
    <h1>Preview</h1>
    <hr/>
    <div class='content-preview'>
        <h3 id='preview-title'></h3>
        <p id='preview-content'></p>
    </div>
</div> -->
</div>

{% endblock content %}