{% extends "base.html" %}
{% block content %}
<br>

    <form  method='GET' action='' class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Posts.." name="q" value="{{ request.GET.q }}"aria-label="Search">
            <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
        </form>
<hr>
<a href="/create/" class="btn btn-info  float-right">Add content</a>
<h1>POSTS</h1><hr>

<div class="row">

        {% for obj in object_list %}



        <div class="col-md-4 mt-2">

        <div class="card card">
          
            {% if obj.image %}
            <img src='{{ obj.image.url }}' class='img-responsive'  />
            {% endif %}

            <div class="card-body">
            
              <p class="card-text">
                {% if obj.draft %}<h3>Staff only: Draft</h3>{% endif %} {% if obj.publish > today %}<h3>Staff Only:
                    Future Post</h3>{% endif %}

                <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a> <small>{{ obj.publish }}</small></h3>

                {% if obj.user.get_full_name %}<p>Author: {{ obj.user.get_full_name }}</p>{% endif %}

                {{ obj.content|safe|truncatechars_html:120 }}
                <!--120 is the character to show-->
                <!--This is small content seen in detail list page of each post-->

                <!--obj.content|safe| is used to make html tag hide-->

                <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

        </div>
        {% endfor %}
        



</div>

<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
        <a
            href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
        <a
            href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>


    
   

{% endblock content %}